@import "~bootstrap/dist/css/bootstrap.min.css";

div.card-header {
 font-size: large;
}

div.card {
  margin-top: 10px
}

.table {
  margin-top: 10px
}

.container{
  margin-top: 20px;
  margin-left: 0;
  padding-left: 0;
}
